<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.UserMapper">

    <delete id="deleteByNameAndAge">
        delete
        from powershop_user
        where name = #{name,jdbcType=VARCHAR}
          AND age = #{age,jdbcType=NUMERIC}
    </delete>
    <update id="updateNameByAge">
        update powershop_user
        set name = #{name,jdbcType=VARCHAR}
        where age = #{age,jdbcType=NUMERIC}
    </update>
    <select id="selectAllByAgeBetween" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from powershop_user
        where
        age between #{beginAge,jdbcType=NUMERIC} and #{endAge,jdbcType=NUMERIC}
    </select>
    <select id="selectAll" resultType="com.powernode.domain.User"></select>
</mapper>
